#root {
 
  margin: 0 ;
  padding: 0;
box-sizing: border-box;
}
body{
  background: fuchsia;
}

.user-container-parent{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.user-container{
  display: flex;
  background-color: white;
  width: fit-content;
  padding: 1rem;
  border-radius: 12px;
  list-style: none;
  background-color: aliceblue;
  gap: 1rem;
  justify-content: center;
  width: 365px;
  height: 230px;
  margin: 1rem;
}

.user-data-contanier{
  display: flex;
  flex-direction: column;
gap: 1rem;
}

.user-data-contanier>h3{
  margin: 0;
}

.button-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
button{
  border-radius: 10px;
  padding: 0.25rem;

}

.user-form{
  background-color: white;
  border-radius: 10px;
display: flex;
flex-direction: column;
padding: 1rem;
width: fit-content;
align-items: flex-start;
gap: 1rem;
}

.user-form>div{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.user-form>button{
  width: 25%;
  align-self: center;
}

